@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

--text-gray: #adb9c7;
  --text-white: #f3f4f6;

   --fire: #ff6d00;
  --electric: #64d3ff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins , sans-serif;
    text-decoration: none;
    list-style-type: none;
    
}

header{
    background-color:var(--secondary);
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 65px;
      padding: 0% 5% 0% 0%;
      position: sticky;
      top: 0;
      
     
}
.logo{
    height: 80%;
   border-radius: 30%;
   margin-top: 8px;
    
  
}


.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center ;
}

.navbar{
    gap: 150px;
}

.navbar-list{
    gap: 30px;
}

.navbar-list a {
    color: gainsboro;
    font-size: 14px;
}
 .navbar-list li:first-child > a {
    color: var(--text-white);
    font-weight: 600;
}

.cart-icon {
    border: 1px solid var(--bg-electric);
    background-color: #f3f4f6;
    padding: 10px 14px;
    margin-top: 10px;
    border-radius: 10px;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
    
    
    
}
main{
    background-color:darksalmon ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.cart{
position: absolute;
top: 65px;
right: 0;
padding: 40px 10px;
background: linear-gradient(to top,#121e3c,var(--background));
border-left: 1px solid var(--nav-bg);
display: flex;
flex-direction: column;
gap: 30px;
height: calc(100vh - 65px);
overflow-y: scroll;
z-index: 2;
display: none;
border-radius: 5px;

}

.cart h2{
color: var(--text-white);
font-size: 20px;
font-weight: 600;
}

.cart-items{
    display: flex;
    align-items: baseline ;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--bg-electric);
    
}
.cart-items img{
    height: 65px;
    width: 65px;
    border-radius: 10px;
    
    
}
.cart::-webkit-scrollbar{
display: none;
}
.item-title{
    color: var(--bg-white);
    font-size: 12px;
    font-weight: 600;
    
 }
.item-price{
    background: linear-gradient(to right,#30cfd0,#c43ad6);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
}
.item-handler{
    display: flex;
    align-items:baseline;
    justify-content:space-between;
    gap: 20px;
    padding: 8px 15px;
    
}
.quantity-handler{
    display: flex;
    justify-content:space-between;
    align-items:baseline;
    padding: 2px 8px;
    border-radius: 5px;
    color: var(--text-white);
    font-weight: 400;
}
.up{
    border: 1px solid var(--bg-electric);
    
}
.down{
    background: var(--secondary);
    border: 1px solid var(--bg-electric);

}

.divider{
margin-top: 20px;
border: 0.5px solid var(--bg-electric);
}
.cart-total{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.cart-total p{
    color: var(--text-white);
    font-weight: 700;
}
.cart-total span{
    color: var(--text-white);
    font-weight: 400;
    font-size: 18px;
}
.btn-comp{
    color:white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 40px;
    background-color:#1e50ff;
    cursor: pointer;
    
}
#cart-toggle,#menu-toggle,.menu-label{
    display: none;
}
#cart-toggle:checked + .cart{
    display: flex;
}

#hero{
margin-top: 65px;
padding: 70px 0;
max-width: 1200px;
display: flex;
justify-content: center;
align-items: center;
}
.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
   width: 50%;
}
.hero-info h1{
    font-size: 55px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    background: linear-gradient(to top,blue,black );
    color: transparent;
    background-clip:text ;
    -webkit-background-clip: text;

    
} 
.hero-info p{
font-size: 20px;
width: 70%;

} 
.hero-info p > span {
    font-weight: 800;
    color: white;
}
#info p{
    font-weight: 800;
    color:#050d26;
}
.hero-info a {
    color: #1e50ff;
    background-color:var(--nav-bg) ;
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}
.hero-card{
    width: 250px;
    
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}
.hero-card img{
    border-radius: 10px;
    justify-content: center;
    
    
   
    
}
.hero-ale-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-ale-top{
    gap: 10px;
}
.hero-ale-top h3{
    font-weight: 600;
    font-size: 16px;
}
.hero-ale-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.hero-ale-button p{
    display: flex;
    font-weight: 500;
    gap: 10px;
}


#info{
padding: 70px 0;
max-width: 1200px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 40px;
}

#info h2 {
    font-size: 40px;
    font-weight: 800;
     background: linear-gradient(to top,blue,black );
    color: transparent;
    background-clip:text ;
    -webkit-background-clip: text;
    left: 50%;
}

    


.info-cards-container{
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
gap: 80px;

}
.info-card{
    width: 200px;
    height: 400px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    border-radius: 10px;
    
   }

   .info-card img{
width: 250px;
border-radius: 10px;
cursor: pointer;
animation: bounceIn  10s infinite;
   }
   @keyframes bounceIn{
    0%{
        transform: translate(5%,0%);
    }
    100%{
        transform: translate(5%,0%);
    }
    
   }

   .info-card p {
    font-size: 12px;
    color: var(--btn-bg);
    font-weight: 600;
   }
   #products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 1200px;
    width: 100%;

}

   #products h2{
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 40px;
     background: linear-gradient(to top,blue,black);
     color: transparent;
     background-clip: text;
     -webkit-background-clip: text;
     
   }

   .products-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
   }

   .product{
    align-items: flex-start;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;

}

.product img{
    border-radius: 20px;
    justify-content: center;
    width: 320px;
    align-items: center;
}

.product-top,.product-bot{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.product-top h3{
    font-size: 16px;
    font-weight: 600;
    color: #02050e;
    
}

.product-bot span{
    font-weight: 900;
    color: #02050e;
}

.btn-add{
    align-items: center;
    background-color:var(--btn-bg);
    border: none;
   color:white;
    cursor: pointer;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    gap: 20px;
}
.btn-load{
    background: none;
    border: 1px solid var(black);
    padding: 10px 35px;
    color:var(blue);
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.btn-load:hover{
    color: white;
}
footer{
    background: var(--btn-bg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0

}

footer a{
    color: var(--bg-white);
    font-weight:300 ;
    font-size: 14px;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;

}

